html, body{
  width: 100%;
  height: 100%;
  background: #ccc;
  /*background: rgb(0,61,255);*/
  /*background: radial-gradient(circle, rgba(0,61,255,1) 35%, rgba(22,57,170,1) 100%);*/
}

form {
    margin: 0px 10px 20px 10px;
    width: calc(100% - 20px);
}

.Login{
  position: absolute;
  left: calc(50% - (345px / 2));
  top: calc(50% - (374px / 2));
}